<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Home{% endblock %}</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <div class="full-page-container">
    <div class="sidebar">
      <h2>Rust Financial Manager</h2>
      <button onclick="window.location.href='/dashboard'">Dashboard</button>
      <button onclick="window.location.href='/add-bank'">Add new bank</button>
      <ul id="bank-list">
      </ul>
    </div>
    <div class="main-content">
      {% block main_content %}
      <p>Welcome! Please select an option from the sidebar.</p>
      {% endblock %}
    </div>
    <header>
      <div class="header-buttons">
        <button onclick="window.location.href='/settings'">Settings</button>
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </div>
    </header>
  </div>
</body>

</html>